/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
section,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
body {
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
._container {
  max-width: 1440px;
  margin: 0 auto;
}

.header_container {
  min-height: 902px;
  align-items: center;
}
.header_container__oval {
  position: absolute;
  width: 1440px;
  height: 493px;
}

/*-----Контакты и кнопки-------*/
.contacts_menu {
  position: absolute;
  height: 47px;
  width: 815px;
  top: 15px;
  margin-left: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact320 {
  display: none;
}
.contact768 {
  display: none;
}
.contact {
  height: 27px;
  width: 340px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.contact__phone {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.contact__phone p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
}

.contact__email {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.contact__email p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
}

.menu {
  height: 47px;
  width: 377px;
  display: flex;
  justify-content: space-between;
}
.partner_button768 {
  display: none;
}
.menu__buttons-login {
  height: 47px;
  width: 136px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__inner-buttons {
  display: flex;
  align-items: center;
}
.menu__inner-buttons p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  margin-left: 10px;
  color: #ffab00;
}
.menu__buttons-partners {
  height: 47px;
  width: 231px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_networks {
  position: absolute;
  width: 51px;
  height: 100px;
  margin-left: 1389px;
  margin-top: 281px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social_networks img {
  width: 24px;
  height: 24px;
}
/*--------------------*/
/*-----Шары и айфон-------*/
.balls_iphone {
  width: 100%;
  position: absolute;
}
.balls_iphone__white-small-ball {
  position: absolute;
  left: 165px;
  top: 18px;
  height: 42px;
  width: 42px;
  background-color: white;
  border-radius: 50%;
}
.balls_iphone__white-big-ball {
  position: absolute;
  left: 249px;
  top: 185px;
  height: 179px;
  width: 179px;
  background-color: white;
  border-radius: 50%;
}
.balls_iphone__ball1 {
  position: absolute;
  width: 108px;
  height: 108px;
  left: 438px;
  top: 62px;
}
.balls_iphone__ball2 {
  position: absolute;
  width: 137px;
  height: 137px;
  left: 810px;
  top: 73px;
}
.balls_iphone__ball3 {
  position: absolute;
  width: 152px;
  height: 151px;
  left: 1051px;
  top: 155px;
}
.balls_iphone__ball4 {
  position: absolute;
  width: 139px;
  height: 137px;
  left: 1210px;
  top: 338px;
}
.balls_iphone__ball5 {
  position: absolute;
  width: 93px;
  height: 92px;
  left: 414px;
  top: 431px;
}
.balls_iphone__ball6 {
  position: absolute;
  width: 80px;
  height: 78px;
  left: 92px;
  top: 454px;
}
.balls_iphone__ball7 {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 69px;
  top: 301px;
}
.balls_iphone__ball8 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 240px;
  top: 523px;
}
.balls_iphone__ball9 {
  position: absolute;
  width: 164px;
  height: 164px;
  left: 355px;
  top: 738px;
}

.balls_iphone__ball10 {
  position: absolute;
  width: 93px;
  height: 95px;
  left: 674px;
  top: 726px;
}
.balls_iphone__ball768 {
  display: none;
}
.balls_iphone__arrow {
  position: absolute;
  left: 712px;
  top: 766px;
}
.balls_iphone__ball11 {
  position: absolute;
  left: 842px;
  top: 548px;
  z-index: 3;
  width: 178px;
  height: 178px;
}
.balls_iphone__ball12 {
  position: absolute;
  width: 140px;
  height: 141px;
  left: 1173px;
  top: 596px;
}
.balls_iphone__ball13 {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 1079px;
  top: 478px;
}
.balls_iphone__iphone {
  display: none;
}
.ball_iphone__iphone-gradient {
  display: none;
}
.balls_iphone__iphone-container {
  height: 585px;
  width: 288px;
  position: absolute;
  left: 576px;
  top: 136px;
  display: flex;
  filter: drop-shadow(0px 4px 60px rgba(255, 255, 255, 0.5))
    drop-shadow(0px 0px 140px #ffffff);
}

.balls_iphone__iphone-frame {
  position: absolute;
  z-index: 2;
}

.balls_iphone__iphone-display {
  position: absolute;
  left: 15px;
  align-self: center;
}

/*----------------_----*/
/*----Первая секция----*/
.first_section {
  min-height: 438px;
  align-items: center;
}
.first_section__container {
  width: 100%;
  position: absolute;
}

.first_section__iphone {
  position: absolute;
  left: 172px;
  top: -82px;
}
.first_section__download-text {
  margin-top: 49px;
  margin-left: 640px;
  height: 389px;
  width: 628px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: #768c9b;
}

.first_section__headerText {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-shadow: 0px 4px 30px #ffffff, 0px 4px 60px #ffffff, 0px 4px 90px #ffffff;
}

.first_section__where-text {
  color: #ffab00;
}
.first_section__load-text {
  color: rgba(14, 40, 60, 1);
}
.first_section__rocket-text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #302f3c;
  transform: rotate(-0.55deg);
}
.first_section__platforms {
  height: 71px;
  width: 453px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
/*----------------_----*/
/*----Вторая секция----*/
.second_section {
  min-height: 703px;
  align-items: center;
}
.second_section__container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.second_section__oval {
  position: absolute;
  height: 582.65px;
  width: 1440px;
  top: 105px;
  transform: rotate(-180deg);
}
.second_section__ball1 {
  position: absolute;
  top: 102px;
  left: 165px;
  width: 80px;
  height: 80px;
}
.second_section__ball2 {
  position: absolute;
  top: 100px;
  left: 712px;
  width: 106px;
  height: 106px;
}
.second_section__ball3 {
  position: absolute;
  top: 620px;
  left: 1180px;
  height: 92px;
  width: 92px;
}
.second_section__iphone {
  position: absolute;
  width: 371px;
  height: 637.38px;
  top: 53.5px;
  left: 830px;

  clip-path: polygon(0px 0px, 371px 0px, 374px 599px, 162px 623px, -3px 633px);
}
.second_section__iphone-gradient {
  display: none;
}
.second_section__description-text {
  position: absolute;
  width: 540px;
  height: 264px;
  margin-top: 282px;
  margin-left: 165px;
}
.second_section__header-text768 {
  display: none;
}
.second_section__header-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: white;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.second_section__your-text {
  color: #ffab00;
}
.second_section__iphone-text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #302f3c;
  transform: rotate(-0.55deg);
}
.second_section__center-text {
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.second_section__footer-text {
  margin-top: 20px;
  width: 445px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
}
.second_section__footer-text span {
  font-weight: 600;
  font-size: 37px;
  line-height: 43px;
}
.second_section__footer-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.second_section__downloads {
  width: 115px;
  height: 64px;
}

.second_section__restaurants {
  width: 100px;
  height: 64px;
}
.second_section__sale {
  width: 132px;
  height: 64px;
}
/*----------------_----*/
/*-------Третья секция------*/
.third_section {
  min-height: 357px;
  align-items: center;
}

.third_section__container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}
.third_section__header-text768 {
  display: none;
}
.third_section__description-text {
  height: 232px;
  width: 445px;
  margin-top: 84px;
  margin-left: 165px;
}
.third_section__header-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: black;
}
.third_section__header-text span {
  color: #ff9c01;
}
.third_section__planet-text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #302f3c;
  transform: rotate(-0.55deg);
}
.third_section__center-text {
  margin-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4e5c66;
}
.third_section__russian-map-frame {
  position: absolute;
  height: 271px;
  width: 633px;
  top: 32px;
  left: 640px;
}
.third_section__dishes1 {
  position: absolute;
  top: 86px;
  left: 57px;
}
.third_section__dishes2 {
  position: absolute;
  top: 126px;
  left: 146px;
}
.third_section__glasses {
  position: absolute;
  top: 151px;
  left: 270px;
}
.third_section__dishes3 {
  position: absolute;
  top: 90px;
  left: 389px;
}
/*----------------_----*/
/*-------Четвертая секция------*/
.four_section {
  min-height: 709px;
  align-items: center;
}

.four_section__container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}
.four_section__oval {
  position: absolute;
  width: 1440px;
  height: 582.65px;
}
.four_section__girl {
  position: absolute;
  width: 540px;
  height: 709px;
  left: 165px;
  top: 0;
}
.four_section__girl-gradient {
  position: absolute;
  width: 540px;
  height: 709px;
  left: 165px;
  top: 0;
  z-index: 3;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 82.72%,
    rgba(255, 255, 255, 0.86) 94.69%,
    #ffffff 98.56%
  );
}
.four_section__ball1 {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1045px;
  top: 0;
}
.four_section__ball2 {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 833px;
  top: 495px;
}
.four_section__ball3 {
  position: absolute;
  width: 193px;
  height: 187px;
  left: 1101px;
  top: 461px;
}
.four_section__description-text {
  position: absolute;
  width: 445px;
  height: 38px;
  left: 735px;
  top: 165px;
}
.four_section__header-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.four_section__header-text-separator {
  display: none;
}

.four_section__header-text span {
  display: none;
}
.four_section__center-text {
  display: none;
}
/*----------------_----*/
/*-------Пятая секция------*/
.five_section {
  min-height: 728px;
  align-items: center;
}

.five_section__container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.five_section__FAQ {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 186px;
  margin-left: 166px;
}
.five_section__container span {
  color: #ff9c01;
}
.five_section__cookie-text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #302f3c;
  transform: rotate(-0.55deg);
}
.five_section__girl {
  position: absolute;
  width: 523px;
  height: 728px;
  left: 752px;
  top: 0;
}
.dropdown {
  margin-top: 20px;
  margin-left: 166px;
  width: 539px;
}
.dropdown_string {
  width: 539px;
  height: 37px;
  padding: 5px 10px 5px 10px;
  background: #ffffff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.dropdown_string p {
  width: 445px;
  height: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  color: #4e5c66;
}
.dropdown__treangle {
  width: 24px;
  height: 24px;
  padding: 9.5px;
}
.dropdown__treangle img {
  transition: transform 0.3s ease;
  margin: 0 auto;
}
.dropdown__treangle-rotate img {
  transform: rotate(180deg);
}
.dropdown__hidden-context {
  display: none;
}
.dropdown__hidden-context p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  color: #4e5c66;
}
.dropdown__visible-context {
  display: block;
  width: 530px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px;
  animation: 0.5s slidedown;
}
@keyframes slidedown {
  from {
    margin-top: -15px;
  }
  to {
    margin-top: 5px;
  }
}
/*----------------_----*/
/*-------Шестая секция------*/
.six_section {
  min-height: 596px;
  align-items: center;
}

.six_section__container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.six_section__background-bubles {
  margin-top: 50px;
}
.six_section__oval768 {
  display: none;
}
.six_section__oval {
  position: absolute;
  z-index: 1;
  width: 1440px;
  height: 538.65px;
}
.six_section__bubles320 {
  display: none;
}
.six_section__bubles768 {
  display: none;
}
.six_section__bubles {
  position: absolute;
  z-index: 2;
  width: 1451px;
  height: 546px;
  left: -5px;
  clip-path: polygon(
    6px 75px,
    231px 35px,
    372px 20px,
    528px 5px,
    717px -1px,
    870px 6px,
    1075px 17px,
    1293px 45px,
    1446px 80px,
    1446px 537px,
    1294px 509px,
    1084px 479px,
    915px 465px,
    724px 461px,
    522px 467px,
    318px 485px,
    6px 536px
  );
  opacity: 0.8;
}
.six_section__iphone-eatboxes {
  position: absolute;
  width: 479px;
  height: 551px;
  left: 191px;
  top: 15px;
}
.six_section__iphone {
  position: absolute;
  z-index: 2;
  width: 276px;
  height: 364px;
  left: 97px;
  top: 106px;
}
.six_section__eat-box1 {
  position: absolute;
  z-index: 3;
  width: 200px;
  height: 199px;
}
.six_section__eat-box2 {
  position: absolute;
  z-index: 3;
  width: 207px;
  height: 155px;
  top: 396px;
  left: 9px;
}
.six_section__eat-box3 {
  position: absolute;
  z-index: 3;
  width: 149px;
  height: 195px;
  top: 141px;
  left: 331px;
}
.six_section__ball1 {
  position: absolute;
  z-index: 3;
  width: 71px;
  height: 71px;
  left: 545px;
  top: 18px;
}
.six_section__ball2 {
  position: absolute;
  z-index: 3;
  width: 106px;
  height: 106px;
  left: 1169px;
  top: 35px;
}
.six_section__ball3 {
  position: absolute;
  z-index: 3;
  width: 137px;
  height: 137px;
  left: 1138px;
  top: 486px;
}
.six_section__grass {
  position: absolute;
  z-index: 3;
  width: 653px;
  height: 323px;
  top: 481px;
  left: 787px;
  clip-path: polygon(0px 0px, 655px 0px, 655px 258px, 0px 258px);
}
.six_section__description-text {
  position: absolute;
  z-index: 3;
  top: 125px;
  left: 735px;
  height: 326px;
  width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.six_section__header-text {
  width: 180.29px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.six_section__header-text p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 98.9%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.six_section__header-text span {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #302f3c;
  transform: rotate(-0.55deg);
}
.six_section__first-lvl-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.six_section__circles {
  display: flex;
  justify-content: space-between;
  width: 128px;
  height: 17px;
}

.six_section__review {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.six_section__author {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: #ffffff;
}
/*----------------_----*/
/*-------Footer------*/
.footer {
  min-height: 558px;
  align-items: center;
}
.footer_container {
  height: 100%;
  width: 100%;
}

.footer_container__contact-us {
  width: 1110px;
  height: 215px;
  margin-top: 156px;
  margin-left: 165px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px 0;
}
.footer_container__header-text {
  margin-left: 30px;
}
.footer_container__header-text span {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;

  color: #302f3c;
}

.footer_container__title {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 98.9%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #414141;
}
.footer_container__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #414141;
}
.footer_container__text-separator {
  display: none;
}
.footer_container__form {
  margin-top: 20px;
}
.footer_container__form form {
  display: flex;
}
.footer_container__contact-us input {
  padding: 11px;
  gap: 10px;
  width: 255px;
  height: 41px;
  background: #eeeff2;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4e5c66;
  margin-left: 30px;
}
.footer_container__contact-us button {
  margin-left: 30px;
  align-items: center;
  padding: 13px 11px 11px;
  gap: 10px;
  width: 195px;
  height: 69px;
  background: #f7620f;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer_container__footer-text {
  margin-left: 30px;
  margin-top: -20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #565656;
}
.footer_menu768 {
  display: none;
}
.footercontacts_menu {
  height: 67px;
  width: 1440px;
  background: #ffab00;
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.footer__white-ball {
  display: none;
}
.footercontacts_menu__soup {
  width: 37px;
  height: 42px;
  margin-left: 165px;
  top: 4937px;
}
.footer_button {
  display: none;
}

.footercontacts_menu__phone {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-left: 533px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  color: white;
}

.footercontacts_menu__email {
  width: 160px;
  display: flex;
  justify-content: space-between;
  display: flex;
  margin-left: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  color: white;
}
.footercontacts_menu__button {
  margin-left: 98px;
  padding: 8px 25px;
  gap: 10px;

  width: 102px;
  height: 47px;

  background: #ffffff;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  color: #ffab00;
}
